*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(29, 152, 152);
}

nav{
    font-size: 30px;
    background-color: transparent;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 5px 60px rgba(28, 27, 27, 0.9);
    color: whitesmoke;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: darkslateblue;
}

nav li{
    display: inline-block;
    margin: 0px 0px 0px 40px;
    letter-spacing: 2px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover{
    color:rgb(245, 67, 103);
}

.logo{
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    margin-left: -90px;
    letter-spacing: 3px;
}

.logo a{
    color:chocolate;
}

.menu-line{
    background-color: blueviolet;
    width: 20px;
    height: 5px;
    margin: 3px 0px;

}

.menu{
    cursor: pointer;
    display: none;
}

@media all and (max-width:640px){
    nav{
        flex-direction: column;
    }

    nav li{
        display: block;
        padding: 8px 0px;
    }

    ul{
        text-align: center;
        padding: 0px;
        display: none;
    }

    .logo{
        align-self: flex-start;
        margin: 15px 0px 0px 20px;
    }

    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .showmenu{
        display: block;
    }
}


.submit_details{
    position: absolute;
    bottom: 5px;
    margin-left: 650px;
}


.main_btn button{
    width: 25%;
    height: 80px;
    outline: none;
    border: none;
    background-color: rgb(244, 242, 242);
    border-radius: 45px;
    box-shadow: 0px 0px 20px rgba(16, 16, 16, 0.978);
    font-size: 25px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    align-items: center;
    margin-left: 220px;
    margin-top: 150px;
    transition: .50s ease-in-out;

}

.main_btn button:hover{
    background-color: rgb(245, 67, 103);
}

#add_staff_form{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 450px;
    margin-top: 70px;
    border: none;
    box-shadow: 0px 5px 20px rgba(28, 27, 27, 0.9);
    border-radius: 20px 6px;
    width: 420px;
    background-color: cadetblue;
    
} 

.staff_details{
    position: relative;
    width: 400px;
    height: 530px;
    padding: 20px 0px 0px 15px;
}

.staff_details label{
    display: block;
    font-size: 30px;
    padding-top: 15px;
    letter-spacing: 4px;
} 

.staff_details input{
    width: 100%;
    height: 10%;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 3px solid rgba(245, 245, 245, 0.7);
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    color: rgb(10, 9, 9);  

}

.submit{
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.978);
    font-size: 30px;
    letter-spacing: 3px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-left: 62px;
    margin-top: 25px;
    transition: .50s ease-in-out;
}

.submit:hover{
    background-color: rgb(245, 67, 103);
}
#batch_add_form{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-top: 100px;
}

.batch_detials{
    position: relative;
    width: 420px;
    height: 430px;
    padding: 10px 0px 0px 15px;
    border-radius: 20px 6px;
    box-shadow: 0px 5px 20px rgba(28, 27, 27, 0.9);
    background-color: cadetblue;
}

.batch_detials label{
    display: block;
    font-size: 40px;
    padding-top: 30px;
    letter-spacing: 2px;
}


.batch_detials input{
    width: 95%;
    height: 15%;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 3px solid rgba(15, 14, 14, 0.7);
    font-size: 35px;
    padding: 20px 15px 20px 15px;
    color: rgb(10, 9, 9);
    margin-top: 10px;  
}

.add_students_btn{ 
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.978);
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-left: 62px;
    margin-top: 50px;
    transition: .50s ease-in-out
}

.add_students_btn:hover{
    background-color: rgb(245, 67, 103);
}

#add_subjects{
    justify-content: center;
    align-items: center;
    display: flex;
}

.sub{
    position: relative;
    width: 420px;
    height: 560px;
    padding: 10px 0px 0px 10px;
    border-radius: 20px 6px;
    box-shadow: 0px 5px 20px rgba(28, 27, 27, 0.9);
    background-color: cadetblue;
    margin-left: 400px;
    margin-top: -30px;
}

.sub label{
    display: block;
    font-size: 40px;
    padding-top: 25px;
    letter-spacing: 2px;
}

.sub input{
    width: 95%;
    height: 12%;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 3px solid rgba(15, 14, 14, 0.7);
    font-size: 35px;
    padding: 20px 15px 20px 15px;
    color: rgb(10, 9, 9);
    margin-top: 10px;  
}

.Sem_submit_btn{
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.978);
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-left: 62px;
    margin-top: 30px;
    transition: .50s ease-in-out;
}

.Sem_details{
    width: 95%;
    height: 12%;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 3px solid rgba(15, 14, 14, 0.7);
    font-size: 35px;
    padding: 10px 15px 10px 15px;
    color: #333;
    margin-top: 10px;
}

.Sem_submit_btn:hover{
    background-color: rgb(245, 67, 103);
}

#allocation_form{
    justify-content: center;
    align-items: center;
    display: flex;    
}

.alloc{
    position: relative;
    width: 420px;
    height: 560px;
    padding: 10px 0px 0px 10px;
    border-radius: 20px 6px;
    box-shadow: 0px 5px 20px rgba(28, 27, 27, 0.9);
    background-color: cadetblue;
    margin-left: 400px;
    margin-top: -30px;
}

.alloc label{
    display: block;
    font-size: 40px;
    padding-top: 25px;
    letter-spacing: 3px;
    padding-left: 10px;
}

.Staff_available{
    width: 95%;
    height: 12%;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 3px solid rgba(15, 14, 14, 0.7);
    font-size: 35px;
    padding: 10px 15px 10px 20px;
    color: #333;
    margin-top: 10px;
}

.allocation_form_submit{
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.978);
    font-size: 30px;
    letter-spacing: 3px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-left: 62px;
    margin-top: 30px;
    transition: .50s ease-in-out;
}

.allocation_form_submit:hover{
    background-color: rgb(245, 67, 103);
}
.submit_details{
    width: 25%;
    height: 50px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(9, 9, 9, 0.978);
    font-size: 25px;
    cursor: pointer;
    color: #333;
    font-weight: 520;
    align-items: center;
    margin-left: 60px;
    margin-top: -60px;
    transition: .30s ease-in-out;
    letter-spacing: 2px;
} 

.box .btn:hover{
    background-color: rgb(245, 67, 103);
}
