*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(29, 152, 152);
}

nav{
    font-size: 30px;
    background-color: transparent;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 5px 60px rgba(28, 27, 27, 0.9);
    color: whitesmoke;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: darkslateblue;
}

nav li{
    display: inline-block;
    margin: 0px 0px 0px 40px;
    letter-spacing: 2px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover{
    color:rgb(245, 67, 103);
}

.logo{
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    margin-left: -90px;
    letter-spacing: 3px;
}

.logo a{
    color:chocolate;
}

.menu-line{
    background-color: blueviolet;
    width: 20px;
    height: 5px;
    margin: 3px 0px;

}

.menu{
    cursor: pointer;
    display: none;
}

@media all and (max-width:640px){
    nav{
        flex-direction: column;
    }

    nav li{
        display: block;
        padding: 8px 0px;
    }

    ul{
        text-align: center;
        padding: 0px;
        display: none;
    }

    .logo{
        align-self: flex-start;
        margin: 15px 0px 0px 20px;
    }

    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .showmenu{
        display: block;
    }
}

.staff_main_btn{
    width:450px;
    height: 300px;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    padding: 30px 40px;
    margin-top: 150px;
    margin-left: 450px;
}

.staff_main_btn .btn1{
    width: 100%;
    height: 55px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(61, 59, 59, 0.978);
    font-size: 35px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-top: 20px;
    transition: .50s ease-in-out;
    letter-spacing: 2px;
}

.staff_main_btn .btn2{
    width: 100%;
    height: 55px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(61, 59, 59, 0.978);
    font-size: 35px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-top: 83px;
    transition: .50s ease-in-out;
    letter-spacing: 2px;
}

.staff_main_btn .btn1:hover{
    background-color: rgb(245, 67, 103);
}

.staff_main_btn .btn2:hover{
    background-color: rgb(245, 67, 103);
}

#postQns{
    justify-content: center;
    align-items: center;
    display: flex;
}

.qn_form{
    position: relative;
    width: 420px;
    height: 590px;
    padding: 10px 0px 0px 10px;
    border-radius: 20px 6px;
    box-shadow: 0px 5px 20px rgba(28, 27, 27, 0.9);
    background-color: cadetblue;
    margin-left: 400px;
    margin-top: 50px;
}

.qn_form label{
    display: block;
    font-size: 35px;
    padding-top: 15px;
    letter-spacing: 3px;
    padding-left: 3px;
}

.qn_form input{
    width: 95%;
    height: 9%;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 3px solid rgba(15, 14, 14, 0.7);
    font-size: 35px;
    padding: 20px 15px 20px 15px;
    color: rgb(10, 9, 9);
    margin-top: 10px;  
}

textarea{
    width: 600px;
    height:60px;
    margin-top: 20px;
    
}

input{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 10px;
}

select{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 10px;
}



.sub{
    width: 95%;
    height: 9%;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 3px solid rgba(15, 14, 14, 0.7);
    font-size: 35px;
    padding: 3px 15px 3px 15px;
    color: #333;
    margin-top: 10px;
}

.enter{
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.978);
    font-size: 30px;
    letter-spacing: 3px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-left: 62px;
    margin-top: 30px;
    transition: .50s ease-in-out;
}

.enter:hover{
    background-color: rgb(245, 67, 103);
}


.qn_container{
    margin-left: 60px;
}

.entered_qns{
    width: 100px;
    height: 45px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(61, 59, 59, 0.978);
    font-size: 20px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    align-items: center;
    margin-top: 83px;
    transition: .50s ease-in-out;
    letter-spacing: 2px;



    position: absolute;
    right: 20px;
    margin-top: 20px;
}

.entered_qns:hover{
    background-color: rgb(245, 67, 103);
}


.result_header{
    position: absolute;
    margin-left: 660px;
    top:120px;
    font-size: 50px;
}
.result_value{
    position: absolute;
    margin-left: 550px;
    top:200px;
    width: 100%;
  border-collapse: collapse;
}
.result_value th, .result_value td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
  }
  .result_value th {
    background-color: #f2f2f2;
  }

  .result_header{
    position: absolute;
    margin-left: 660px;
    top:120px;
    font-size: 50px;
}
.result_value{
    position: absolute;
    margin-left: 550px;
    top:200px;
    width: 100%;
  border-collapse: collapse;
}
.result_value th, .result_value td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
  }
  .result_value th {
    background-color: #f2f2f2;
  }
